<div class="row text-scroll">
    <div class="col-12" id="splash-text">
    </div>
</div>
<div class="row img-scroll">
    <div class="col-12" id="splash-img">
    </div>
</div>
<div class="row logo">
    <div class="col-12">

    </div>
</div>
<div class="row login">
    <div class="col-3">
    </div>
    <div class="col-6 text-center">
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    </div>
</div>

<script>
    
</script>