<div class="row bg-white">
    <div class="col-12">
        Start Time: <%= format_time(listing.start_time) %>
        <br />
        End Time: <%= format_time(listing.end_time) %>
        <br />
        <br />
        Number of children: <%= listing.child_number %>
        <br />
        <br />
        Additional info:
        <br />
        <%= listing.info %>
        <br />
        <br />
        Points: 50
    </div>
</div>