<% @chatting_with.each do |parent| %>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">
                <%= link_to parent.name, 'chat/' + parent.uid.to_s, style: 'font-size: 50px;' %>
            </h2>
        </div>
    </div>
<% end %>