Job Listing
<br />
<br />
<%= @job.parent.name %> is looking for Childcare
<br />
They are looking for a job from <%= local_time(@job.start_time) unless @job.start_time.nil?%> until <%= local_time(@job.end_time) unless @job.end_time.nil?%>
<br />
<br />
Here's some info that they provided
<div class="well-lg">
    <%= @job.info %>
</div>